:root {
  /** Theme primary colors */
  --clr-primary-a0: #00cafc;
  --clr-primary-a10: #4dd0fc;
  --clr-primary-a20: #6ed6fd;
  --clr-primary-a30: #89dcfd;
  --clr-primary-a40: #9fe2fe;
  --clr-primary-a50: #b4e8fe;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #1a2225;
  --clr-surface-tonal-a10: #2f3739;
  --clr-surface-tonal-a20: #464c4f;
  --clr-surface-tonal-a30: #5d6366;
  --clr-surface-tonal-a40: #767b7e;
  --clr-surface-tonal-a50: #909496;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}
